body {
  /*width: 960px;*/
  margin: auto;
  font-family: sans-serif;
}

.footer {
  background-color: #FF7316;
}

h2, p, {
  color: #3D3D3D;
}

li .link {
  color: #3D3D3D;
}

li .link:hover {
  color: #20AAB2;

}

.action-button {
  background-color: #20AAB2;
  border-color: #20AAB2;
}
