body {
  /*width: 960px;*/
  margin: auto;
  font-family: sans-serif;
}

.footer {
  background-color: #FF7316;
}

li .link:hover {
  color: #20AAB2;

}

.action-button {
  background-color: #20AAB2;
  border-color: #20AAB2;
}

.accent-orange {
  color: #D95700;
  
}
