body {
  font-family: sans-serif;

}

main {
  max-width: 960px;
  margin: auto;
}

.modal {
  max-width: 760px;
  margin: auto;
}

.line {
  fill: none;
  stroke: #17CCD6;
  stroke-width: 2px;
}

.line2 {
  fill: none;
  stroke: #FF7316;
  stroke-width: 2px;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1 0 auto;
  width: 100%;
}

.action-button {
  background-color: #20AAB2;
  border-color: #20AAB2;
}

.analytics-button {
  color: #D95700;
  border-color: #D95700;
}

.accent-orange {
  color: #D95700;
}

.bright-orange {
  color: #FF7316;
}

.accent-blue {
  color: #20AAB2;
}

.ice-blue {
  color: #20AAB2;
}

.mid-yellow {
  color: #FAAD3F;
}

.thermometer {
  background: #00f1ff;
    background:-webkit-linear-gradient(left, #00f1ff, #ff7316);
    background: -moz-linear-gradient(left, #00f1ff, #ff7316);
    background: -ms-linear-gradient(left, #00f1ff, #ff7316);
    background: -o-linear-gradient(left, #00f1ff, #ff7316);
    background: linear-gradient(to right, #00f1ff, #ff7316);
}


/*react-datepicker*/
.react-datepicker-time__header {
  font-size: 0.944em;
}

.react-datepicker__navigation--next--with-time {
  right: 80px;
}

.react-datepicker__time-list-item {
  width: 50px;
}

.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
